.sacola {
	background: url(../img/sacola.png) no-repeat top right;
	
	font-size: 14px;
	padding-right: 35px;
	padding-top: 8px;
	text-align: right; 
	width: 140px;
	
	position: absolute;
	top: 0;
	right: 0;
}

.menu-opcoes {
	font-size: 15px;
	
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes a {
	color: #003366;
}



.menu-opcoes ul li {
	display: inline;
	padding-right: 20px;
}

.container {
	margin: 0 auto;
	width: 940px;
}

header {
	position: relative;
}

body {
	color: #333333;
	font-family: "Lucida Sans Unicode", sans-serif;
}

.busca,
.menu-departamentos {
	background-color: #dcdcdc;
	text-transform: uppercase;
	font-weight: bold;
	
	margin-right: 10px;
	width: 230px;
	
	float: left;
}

.busca form,
.busca h2,
.menu-departamentos h2 {
	margin: 10px;
}

.menu-departamentos li {
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a {
	text-decoration: none;
	color: #333333;
}

.busca input {
	vertical-align: middle;
}

.busca input[type=search] {
	width: 170px;
}

.menu-departamentos {
	clear: left;
	margin-top: 10px;
	padding-bottom: 10px;
}

.destaque {
	margin-top: 10px;
}

.novidades {
	float: left;
	background-color: #f5dcdc; 
}

.mais-vendidos {
	float: right;
	background-color: #dcdcf5
}

.painel {
	margin: 10px 0;
	padding: 10px;
	width: 445px;
}

.painel li {
	display: inline-block;
	width: 140px;
	vertical-align: top;
	
	margin: 2px;
	padding-bottom: 10px;
}

.painel h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	
	margin-bottom: 10px; 
}

.painel a{
	text-decoration: none;
	font-size: 14px;
	color: #333;
	text-align: center;
}

footer {
	background: url(../img/fundo-rodape.png);
	clear: both;
	
	padding: 20px 0;
}

	footer .container {
		position: relative;
	}

.social {
	position: absolute;
	
	top: 12px;
	right: 0;
}

.social li {
	float: right;
	margin-left: 25px;
}
	
.social a {
	height: 32px;
	width: 32px;
	
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/googleplus.png);
}

.menu-opcoes a:hover {
	color: #007dc6;
}

.menu-opcoes a:active {
	color: red;
}

.menu-departamentos li ul {
	display: none;
}

.menu-departamentos li:hover ul {
	display: block;
}

.menu-departamentos li li a:before {
	content: "- ";
}

